In [1]:
import pandas as pd

In [2]:
# Series(data,index,dtype)
s = pd.Series([1,2,3,4,5],index=[11,12,13,14,15],dtype=float)

In [3]:
s

11    1.0
12    2.0
13    3.0
14    4.0
15    5.0
dtype: float64

In [4]:
#  accesing data from Series
s = pd.Series([20,34,39,42,59])
print(s[0])

20

In [5]:
s[3]

42

In [6]:
# retrieve first three elements
s=pd.Series([10,20,30,40,50,60,70,80])
print(s[0:3])

0    10
1    20
2    30
dtype: int64

In [7]:
#passing data from list
import numpy as np
data=np.array([1,2,3,4])
m=pd.Series(data)
m

0    1
1    2
2    3
3    4
dtype: int32

In [8]:
b=pd.Series([11,12,13,14,15,16])

In [9]:
b

0    11
1    12
2    13
3    14
4    15
5    16
dtype: int64

In [10]:
c=pd.Series([50,60,70,80],index=[10,11,12,13])

In [11]:
c

10    50
11    60
12    70
13    80
dtype: int64

In [12]:
d=pd.Series([45,6,734,56,90,22],index=[100,101,102,103,104,105])

In [13]:
d

100     45
101      6
102    734
103     56
104     90
105     22
dtype: int64

In [14]:
import numpy as np

In [15]:
a=pd.Series([11,12,13,14],index=[100,101,102,103])

In [16]:
a

100    11
101    12
102    13
103    14
dtype: int64

In [17]:
# Series(data,index,dtype)
s=pd.Series([1,2,3,4,5],index=[11,12,13,14,15],dtype=float)

In [18]:
s

11    1.0
12    2.0
13    3.0
14    4.0
15    5.0
dtype: float64

In [19]:
# accesing data from series
s=pd.Series([20,34,39,42,59])
print(s[0])

20

In [20]:
s[3]

42

In [21]:
# retrieve first three elements
s=pd.Series([10,20,30,40,50,60,70,80])
print(s[0:3])

0    10
1    20
2    30
dtype: int64

In [22]:
#passing data from list
import numpy as np
data=np.array([1,2,3,4])
m=pd.Series(data)
m

0    1
1    2
2    3
3    4
dtype: int32

In [23]:
demodict = {'name':'x','age':12}
s1 = pd.Series(demodict)

In [24]:
s1

name     x
age     12
dtype: object

In [25]:
# task creat one dictionary object with cricketer name run and pass it to pandas series print

ckr = {'name' : 'virat' , 'runs' : 243, 'innings' : 3, 'balls' : 56}
ckr

{'name': 'virat', 'runs': 243, 'innings': 3, 'balls': 56}

In [26]:
s2 = pd.Series(ckr)

In [27]:
s2

name       virat
runs         243
innings        3
balls         56
dtype: object

data fram is two dimentional data structure, i,e., data is aligned in a tabular fashion in rows and columns.

Feature of DataFrame:
 
potentially columns are different types

size- mutable 

labled axes(rows and columns)

pandas.Datafram

A pandas DataFrame can be created using the following constructor-

pandas.Dataframe(data,index,columns,dtype,copy)

# Pandas DataFrame

In [2]:
import pandas as pd

In [3]:
data = [1,2,3,4]
df=pd.DataFrame(data)
df

   0
0  1
1  2
2  3
3  4

In [4]:
data =[['alex',10],['bob',12],['clarke',13]]
df=pd.DataFrame(data)
df

        0   1
0    alex  10
1     bob  12
2  clarke  13

In [5]:
data = [['alex',10],['bob',12],['clarke',13]]
df=pd.DataFrame(data,columns=['name','age'])
print(df)

     name  age
0    alex   10
1     bob   12
2  clarke   13

In [7]:
data = [['alex',10],['bob',12],['clarke',13]]
df = pd.DataFrame(data,columns=['name','age'],dtype=float)
print(df)

     name   age
0    alex  10.0
1     bob  12.0
2  clarke  13.0

C:\Users\Jainil iptesh Bariya\AppData\Local\Temp\ipykernel_6744\2845164907.py:2: FutureWarning: Could not cast to float64, falling back to object. This behavior is deprecated. In a future version, when a dtype is passed to 'DataFrame', either all columns will be cast to that dtype, or a TypeError will be raised.
  df = pd.DataFrame(data,columns=['name','age'],dtype=float)

In [8]:
data = {'name':['tom','jak','steve', 'ricky'],'age':[28,34,29,42]}
df = pd.DataFrame(data)
print(df)

    name  age
0    tom   28
1    jak   34
2  steve   29
3  ricky   42

In [9]:
#note - observe, NoN(Not a Number) is appended in missing areas.
data = [{'a':1,'b':2},{'a':5,'b':10,'c':20}]
df = pd.DataFrame(data,dtype=float)
print (df)

     a     b     c
0  1.0   2.0   NaN
1  5.0  10.0  20.0

In [11]:
data = [{'a':1,'b':2},{'a':5,'b':10,'c':20}]
df = pd.DataFrame(data, index=['first' ,'second'],dtype=float)
print (df)

          a     b     c
first   1.0   2.0   NaN
second  5.0  10.0  20.0

In [14]:
data = [{'a':1,'b':2},{'a':5,'b':10,'c':20}]

#with two column indices, value same as dictionary keys
df1 = pd.DataFrame(data, index=['first' ,'second'], columns=['a','b'])
print (df1)

        a   b
first   1   2
second  5  10

In [15]:
# with two column indeces with one index with other name

df2 = pd.DataFrame(data, index=['first' ,'second'], columns=['a','b1'])
print (df2)

        a  b1
first   1 NaN
second  5 NaN

In [16]:
# Addition of rows
#Add new rows to a Dataframe using the aapend function.this function will append the rows at the end.
df1 = pd.DataFrame([[1,2],[3,4]], columns = ['a','b'])
df2 = pd.DataFrame([[5,6],[7,8]], columns = ['a','b'])

df3 = df1.append(df2)
print (df3)

   a  b
0  1  2
1  3  4
0  5  6
1  7  8

C:\Users\Jainil iptesh Bariya\AppData\Local\Temp\ipykernel_6744\3519420724.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df3 = df1.append(df2)